{% load static %}
<footer class="pt-5 text-white" style="background: #111">
  <div class="container pt-5">
    <div class="row mb-5 pb-5">
      <div class="col-md-4 col-sm-12"><img class="mb-3" src="{% static 'img/rmlogo-footer.svg' %}" alt="..." width="140">
        <p class="text-small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="col-md-4 col-sm-12">
        <h5 class="mb-4 mt-3">Upcoming events</h5>
        <ul class="list-unstyled">
          <li class="mb-2">
            <h6 class="mb-1"> <a class="reset-anchor text-primary" href="#">Building a Church Fellowship</a></h6>
            <p class="text-muted text-small text-fancy mb-0">New York, 18 April 2020</p>
          </li>
          <li class="mb-2">
            <h6 class="mb-1"> <a class="reset-anchor text-primary" href="#">Sermon: Hope For Us</a></h6>
            <p class="text-muted text-small text-fancy mb-0">New York, 18 April 2020</p>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-12">
        <h5 class="mb-4 mt-3">Newsletter</h5>
        <p class="text-small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="input-group">
          <input class="form-control border-dark text-white rounded-0" type="search" placeholder="Enter your email address" aria-label="email address" aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary px-4" id="button-addon2" type="submit"><i class="fas fa-paper-plane"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="py-4 border-top border-dark text-center">
      <p class="mb-0 text-muted">Designed & Developed by <a class="reset-anchor text-primary" href="https://www.linkedin.com/in/aaqidmasoodi">@aaqidmasoodi</a>. </p>
      <!-- If you want to remove the backlink, please purchase the Attribution-Free License. See details in readme.txt or license.txt. Thanks!-->
    </div>
  </div>
</footer>
