{% extends 'base.html' %}
{% load static %}


{% block content %}
    <section class="text-center pt-5 pt-lg-0 hero-home" id="hero">
      <div class="owl-carousel owl-theme hero-slider owl-nav-custom">
        <div class="hero-slide bg-cover py-5 with-border-image d-flex align-items-center" style="background: url({% static 'img/rm-hero-bg2.jpg' %})">
          <div class="container text-white py-5 my-5 index-forward">
            <h1 class="text-uppercase text-xl">NGO</h1>
            <div class="row">
              <div class="col-lg-7 mx-auto">
                <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p><a class="btn btn-primary px-4" href="text.html">Read More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="hero-slide bg-cover py-5 with-border-image d-flex align-items-center" style="background: url({% static 'img/rm-hero-bg3.jpg' %})">
          <div class="container text-white py-5 my-5 index-forward">
            <h1 class="text-uppercase text-xl">Designed by Aaqid</h1>
            <div class="row">
              <div class="col-lg-7 mx-auto">
                <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p><a class="btn btn-primary px-4" href="text.html">Read More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="hero-slide bg-cover py-5 with-border-image d-flex align-items-center" style="background: url({% static 'img/rm-hero-bg1.jpg' %})">
          <div class="container text-white py-5 my-5 index-forward">
            <h1 class="text-uppercase text-xl">Simple. Sophisticated</h1>
            <div class="row">
              <div class="col-lg-7 mx-auto">
                <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p><a class="btn btn-primary px-4" href="text.html">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Features Section-->
    <section id="features">
      <div class="container-fluid p-0">
        <div class="row p-0 text-center align-items-stretch">
          <div class="col-lg-3 col-md-6 p-0">
            <div class="p-5 bg-primary text-white h-100">
              <h3 class="h4">Our Community</h3>
              <p class="mb-0 text-small">Lorem ipsum dolor sit amet, consectetur elit sed do eiusmod te</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 p-0">
            <div class="p-5 bg-primary-shade text-white h-100">
              <h3 class="h4">NGO Mission</h3>
              <p class="mb-0 text-small">Lorem ipsum dolor sit amet, consectetur elit sed do eiusmod te</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 p-0 order-md-4 order-lg-3">
            <div class="p-5 bg-primary text-white h-100">
              <h3 class="h4">Join Us</h3>
              <p class="mb-0 text-small">Lorem ipsum dolor sit amet, consectetur elit sed do eiusmod te</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 p-0 order-md-3 order-lg-4">
            <div class="p-5 bg-primary-shade text-white h-100">
              <h3 class="h4">Our Beliefs</h3>
              <p class="mb-0 text-small">Lorem ipsum dolor sit amet, consectetur elit sed do eiusmod te</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Services Section -->
    <section class="py-5" id="services">
      <div class="container py-5">
        <header class="mb-4 text-center mb-5">
          <p class="text-serif mb-0 text-primary">Lorem ipsum dolor sit amet</p>
          <h2 class="text-uppercase">Our services        </h2>
        </header>
        <div class="row text-center">
          <div class="col-lg-4 mb-4 mb-lg-0"><i class="fas fa-church text-primary mb-4 fa-3x"></i>
            <h3 class="h5">Lorem ipsum dolor</h3>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur elit sed do eiusmod tempor incididunt labore.</p>
          </div>
          <div class="col-lg-4 mb-4 mb-lg-0"><i class="fas fa-bible text-primary mb-4 fa-3x"></i>
            <h3 class="h5">Lorem ipsum dolor</h3>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur elit sed do eiusmod tempor incididunt labore.</p>
          </div>
          <div class="col-lg-4"><i class="fas fa-praying-hands text-primary mb-4 fa-3x"></i>
            <h3 class="h5">Lorem ipsum dolor</h3>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur elit sed do eiusmod tempor incididunt labore.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- Works Section-->
    <section id="works">
      <div class="container-fluid px-0">
        <div class="row align-items-stretch">
          <div class="col-lg-6 half-page-banner bg-cover" style="background: url({% static 'img/priest.jpg' %})"></div>
          <div class="col-lg-6 bg-light py-lg-5">
            <div class="h-100 d-flex flex-column p-5 justify-content-center">
              <p class="text-serif text-primary mb-0">Where to find us</p>
              <h2 class="text-uppercase">Our work</h2>
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur elit sed do eiusmod tempor incididunt labore.</p>
              <ul class="list-check pl-0">
                <li>
                  <p class="mb-0 text-muted mb-2">Eu vim atqui ludus petentium, suas idque est id.</p>
                </li>
                <li>
                  <p class="mb-0 text-muted mb-2">Ne veniam oblique propriae vim, dicant.</p>
                </li>
                <li>
                  <p class="mb-0 text-muted mb-2">Sed everti utroque, vis ea oblique pertinax con.</p>
                </li>
              </ul><img class="mb-3" src="{% static 'img/signature.png' %}" alt="..." width="90">
              <h6 class="text-uppercase mb-0">Aaqid Masoodi</h6>
              <p class="text-serif text-primary text-small mb-0">Designer</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Events Section -->
    <section class="py-5" id="latest-events">
      <div class="container py-5">
        <header class="mb-4 text-center mb-5">
          <p class="text-serif mb-0 text-primary">Lorem ipsum dolor sit amet</p>
          <h2 class="text-uppercase">latest Events</h2>
        </header>
        <div class="row">
          <div class="col-lg-4 mb-5 mb-lg-0"><a class="primary-overlay d-block mb-3" href="text.html">
              <div class="overlay-content"><img class="img-fluid w-100" src="{% static 'img/sermon-1.jpg' %}" alt="..."></div></a>
            <h4 class="mb-0"> <a class="reset-anchor" href="text.html">The Testing of Our Faith</a></h4>
            <p class="text-serif text-primary text-small">Holiday</p>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur elit sed do eiusmod tempor incididunt labore.</p>
          </div>
          <div class="col-lg-4 mb-5 mb-lg-0"><a class="primary-overlay d-block mb-3" href="text.html">
              <div class="overlay-content"><img class="img-fluid w-100" src="{% static 'img/sermon-2.jpg' %}" alt="..."></div></a>
            <h4 class="mb-0"> <a class="reset-anchor" href="text.html">Peaceful day</a></h4>
            <p class="text-serif text-primary text-small">Holiday, Faith</p>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur elit sed do eiusmod tempor incididunt labore.</p>
          </div>
          <div class="col-lg-4"><a class="primary-overlay d-block mb-3" href="text.html">
              <div class="overlay-content"><img class="img-fluid w-100" src="{% static 'img/sermon-3.jpg' %}" alt="..."></div></a>
            <h4 class="mb-0"> <a class="reset-anchor" href="text.html">True connection</a></h4>
            <p class="text-serif text-primary text-small">Holiday, Children</p>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur elit sed do eiusmod tempor incididunt labore.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- Become a Volunteer Section -->
    <section class="bg-cover bg-fixed shadow-inner" id="volunteer" style="background: url({% static 'img/divider-img.jpg' %})">
      <div class="primary-overlay py-5">
        <div class="overlay-content index-forward py-5">
          <div class="container py-5 text-white text-center">
            <p class="lead text-serif mb-1">You’ve been created with gifts and passions to use</p>
            <h2 class="text-xl text-shadow mb-4">Become a Volunteer</h2><a class="btn btn-primary px-4" href="text.html">Signup now</a>
          </div>
        </div>
      </div>
    </section>
    <!-- Next Event Section-->
    <section class="bg-primary-shade text-white py-5" id="events">
      <div class="container text-center">
        <div class="row align-items-center">
          <div class="col-lg-3 text-lg-right mb-4 mb-lg-0">
            <h2 class="mb-0 text-uppercase">Next Event</h2>
          </div>
          <div class="col-lg-6 text-center mb-4 mb-lg-0">
            <p class="text-serif mb-0">Experience God’s Presence</p>
            <div class="mx-auto d-flex flex-wrap justify-content-center" id="countdown" datetime="2020-12-20T17:47:00+0100"></div>
          </div>
          <div class="col-lg-3 text-lg-right"><a class="btn btn-outline-light px-4" href="text.html">Learn more</a></div>
        </div>
      </div>
    </section>
    <!-- Events Section-->
    <section class="py-5">
      <div class="container py-5">
        <header class="mb-4 text-center mb-5">
          <p class="text-serif mb-0 text-primary">United in Spirit</p>
          <h2 class="text-uppercase">Next Events</h2>
        </header>
        <div class="row mb-4 align-items-center p-4 p-lg-5 bg-light text-center">
          <div class="col-lg-3 mb-4 mb-lg-0">
            <div class="d-flex align-items-center justify-content-center justify-content-lg-start">
              <p class="text-gray text-xl h1 mb-0">17</p>
              <div class="ml-2">
                <h5 class="mb-0">April</h5>
                <p class="text-small mb-0 text-muted">Saturday</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 text-center mb-4 mb-lg-0">
            <h4 class="text-primary mb-1"> <a class="reset-anchor" href="text.html">Building a Church Fellowship</a></h4>
            <p class="text-serif mb-0 text-muted">April 13, 2019 - October 14, 2022</p>
            <p class="text-serif mb-0 text-muted">New York</p>
          </div>
          <div class="col-lg-3 text-lg-right"><a class="btn btn-outline-primary px-4" href="text.html">Find out more</a></div>
        </div>
        <div class="row align-items-center p-4 p-lg-5 bg-light text-center">
          <div class="col-lg-3 mb-4 mb-lg-0">
            <div class="d-flex align-items-center justify-content-center justify-content-lg-start">
              <p class="text-gray text-xl h1 mb-0">25</p>
              <div class="ml-2">
                <h5 class="mb-0">June</h5>
                <p class="text-small mb-0 text-muted">Monday</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 text-center mb-4 mb-lg-0">
            <h4 class="text-primary mb-1"> <a class="reset-anchor" href="text.html">Sermon: Hope For Us</a></h4>
            <p class="text-serif mb-0 text-muted">April 13, 2019 - October 14, 2022</p>
            <p class="text-serif mb-0 text-muted">New York</p>
          </div>
          <div class="col-lg-3 text-lg-right"><a class="btn btn-outline-primary px-4" href="text.html">Find out more</a></div>
        </div>
      </div>
    </section>
    <!-- Donation Section-->
    <section id="donation">
      <div class="container-fluid px-0">
        <div class="row align-items-stretch">
          <div class="col-lg-6 bg-light py-lg-5 order-2 order-lg-1">
            <div class="h-100 d-flex flex-column p-5 justify-content-center text-lg-right">
              <div class="w-100">
                <p class="text-serif text-primary mb-0">Sharing our faith</p>
                <h2 class="text-uppercase mb-0">Donate</h2>
                <div class="row">
                  <div class="col-lg-10 ml-auto">
                    <p class="text-muted my-4">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique.</p>
                  </div>
                </div>
                <!-- <div class="circle-progress mb-4 d-inline-block">
                  <div class="circle-progress-title text-center">
                    <p class="mb-0 h4 text-primary">75%</p>
                    <p class="text-muted text-serif mb-0">Donate</p>
                  </div>
                  <div id="circle" data-value="0.75" data-size="140" data-thickness="3"></div>
                </div> -->
                <div class="d-block"><a class="btn btn-primary px-4" href="text.html">Donate now</a></div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 half-page-banner bg-cover bg-center order-1 order-lg-2" style="background: url({% static 'img/img-donation.jpg' %})"></div>
        </div>
      </div>
    </section>
    <!-- Contact Section-->
    <section class="py-5" id="contact">
      <div class="container py-5">
        <header class="mb-4 mb-5 text-center">
          <p class="text-serif mb-0 text-primary">Where to find us</p>
          <h2 class="text-uppercase">Reach us</h2>
          <div class="row">
            <div class="col-lg-7 mx-auto">
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
        </header>
        <div class="row align-items-stretch">
          <div class="col-lg-6 pr-lg-0">
            <div class="contact-img bg-center bg-cover" style="background: url({% static 'img/contact-bg.jpg' %})"></div>
          </div>
          <div class="col-lg-6 pl-lg-0">
            <div class="bg-light p-5 h-100">
              <h4>ST.Johns Church</h4>
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <ul class="list-unstyled mb-0 text-muted">
                <li class="mb-2"><a class="reset-anchor" href="tel:+0035478968"> <i class="fas fa-phone text-primary mr-3"></i><span>+003 5478 968</span></a></li>
                <li class="mb-2"><a class="reset-anchor" href="text.html"> <i class="fas fa-globe-americas text-primary mr-3"></i><span>402 Park Ave S, NY 10016</span></a></li>
                <li class="mb-2"><a class="reset-anchor" href="mailto:church@example.com"> <i class="far fa-envelope text-primary mr-3"></i><span>Church@example.com</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Clients Section-->
    <section class="pb-5">
      <div class="container pb-5">
        <div class="row align-items-center text-center">
          <div class="col-lg-3 col-sm-6 my-2 my-sm-0"><img src="{% static 'img/logo-1.svg' %}" alt="..." width="120"></div>
          <div class="col-lg-3 col-sm-6 my-2 my-sm-0"><img src="{% static 'img/logo-2.svg' %}" alt="..." width="120"></div>
          <div class="col-lg-3 col-sm-6 my-2 my-sm-0"><img src="{% static 'img/logo-3.svg' %}" alt="..." width="120"></div>
          <div class="col-lg-3 col-sm-6 my-2 my-sm-0"><img src="{% static 'img/logo-4.svg' %}" alt="..." width="120"></div>
        </div>
      </div>
    </section>
    <!-- Scroll Top Button--><a class="scroll-top" href="#"><i class="fas fa-long-arrow-alt-up"></i></a>
{% endblock content %}
